@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Saans";
    @apply font-light text-slate-800;
  }
  a {
    @apply text-xl tracking-normal underline decoration-1 underline-offset-4;
  }
  .linkHead {
    @apply text-xl font-medium tracking-normal;
  }
}

/* Fonts */
@font-face {
  font-family: "Saans";
  src: url(./fonts/Saans-Light.woff) format("woff");
  src: url(./fonts/Saans-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Saans";
  src: url(./fonts/Saans-Regular.woff) format("woff");
  src: url(./fonts/Saans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saans";
  src: url(./fonts/Saans-Medium.woff) format("woff");
  src: url(./fonts/Saans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Saans";
  src: url(./fonts/Saans-SemiBold.woff) format("woff");
  src: url(./fonts/Saans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Saans";
  src: url(./fonts/Saans-Bold.woff) format("woff");
  src: url(./fonts/Saans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Saans";
  src: url(./fonts/Saans-Heavy.woff) format("woff2");
  src: url(./fonts/Saans-Heavy.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Saans";
  src: url(./fonts/Saans-Light.woff) format("woff");
  src: url(./fonts/Saans-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
